In [20]:
from functools import partial
from viewser.operations import fetch
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
import pandas as pd
import views_runs

In [21]:
data = fetch("modelling_demo")
print(data.head())

                     ged_sum  ged_sum_tlag_1
month_id country_id
1        40              0.0             0.0
         41              0.0             0.0
         42              0.0             0.0
         43              0.0             0.0
         47              0.0             0.0

In [22]:
data_partitioner =  views_runs.DataPartitioner({"A":{"train":(1,500),"test":(500,600)}})
models = views_runs.StepshiftedModels(LinearRegression(),[1,2,3,4],"ged_sum")
run = views_runs.ViewsRun(data_partitioner,models)

In [23]:
run.fit("A","train",data)

In [24]:
predictions = run.predict("A","test",data)
predictions

                     ged_sum  ged_sum_tlag_1  step_pred_1  step_pred_2  \
month_id country_id
500      40              0.0             0.0     2.932981     3.048887
         41              0.0             0.0     2.932981     3.048887
         42              0.0             0.0     2.932981     3.048887
         43              0.0             0.0     2.932981     3.048887
         47             10.0            10.0     6.636498     6.485698
...                      ...             ...          ...          ...
600      242             0.0             0.0     2.932981     3.048887
         243             0.0             0.0     2.932981     3.048887
         244             0.0             0.0     2.932981     3.048887
         245            25.0            25.0    12.191775    11.640914
         246            79.0            79.0    32.190769    30.199692

                     step_pred_3  step_pred_4
month_id country_id
500      40             3.093277     3.147710
         41             3.093277     3.147710
         42             3.093277     3.147710
         43             3.093277     3.147710
         47             6.463145     6.421594
...                          ...          ...
600      242            3.093277     3.147710
         243            3.093277     3.147710
         244            3.093277     3.147710
         245           11.517948    11.332419
         246           29.715238    29.011390

[6666 rows x 6 columns]

In [29]:
from sklearn.metrics import r2_score

r2_score_ged = partial(r2_score,predictions["ged_sum"])
step_variables = [f"step_pred_{i}" for i in range(1,5)]

score_data = pd.DataFrame({"name":step_variables})
score_data["r2"] = [r2_score_ged(predictions[v]) for v in step_variables]

print(score_data)

          name        r2
0  step_pred_1  0.586706
1  step_pred_2  0.550889
2  step_pred_3  0.541781
3  step_pred_4  0.528492